// Buy now button overlay
.grid-view-item{
    &__overlay-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index:3;
    }
    &__overlay-link{
        display:block;
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        right: 0;
        color: transparent;
        line-height: 0;
        font-size:0;

    }

    &__buy-now-wrapper{
        text-align:center;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(0);
        pointer-events: none;
        transition: transform .3s ease;
    }
}

.buy-now-button{
    position: relative;
    opacity:0;
    pointer-events: all;
    cursor: none;
    transition: all .3s ease;
}

// Product card hover state
.product-card{
    @media screen and (min-width: 768px){
        &:hover{
            .product-card__image-wrapper{
                transition: opacity .3s ease;
            }
            .grid-view-item{
                &__buy-now-wrapper{
                    transform: translateY(-50%);
                }
            }
            .buy-now-button{
                opacity: 1;
                pointer-events: all;
                cursor: pointer;
            }
            
        }
    }
}
