 /* modal background */
 .modal {
    // display: none;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    pointer-events: none;
    display: block;
    transition: all .6s ease;

    &.open{
        z-index: 100;
        opacity: 1;
        height:100%;
        visibility: visible;
        pointer-events: all;
        .modal-content{
            transform: translate(-50%, -50%);
            opacity: 1;
        }
    }
  }

/* modal content */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    opacity: 0;
    display: block;
    transition: all .3s ease;
    @media screen and (max-width:768px){
        width:90%;
    }
}
  .modal-header{
      position: relative;
      width:100%;
      height:30px;
      
    .close {
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        top: 0px;
        right:0px;
        svg{
            width:15px;
            height:15px;
            display: block;
        }
        &:hover, &:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        } 
    }

  }

  .modal-body{
    text-align:center;
    margin-bottom:20px;
    h2{
        margin-bottom: 5px;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        .form-error{
            display:none;
        }
    }
    button[type="submit"]{
        display: block;
        margin-top: 10px;
    }
    .confirmation-error{
        display: none;
    }
  }