#shopify-section-hero{
    margin-top: -55px;
    padding-top:0;
}

.faq-section{
    &__headline{
        margin-top: 10px;
        margin-bottom: 5px;
    }
    &__item-wrapper{
        border-bottom: 1px solid #00000030;

        & + .faq-section__headline {
            margin-top:2rem;
        }

        & + .faq-section__item-wrapper {
            margin-top:1rem;
        }
    }
    &__item-question{
        display: grid;
        grid-template-columns: 1fr 30px;
        grid-template-rows: 1fr;
        width: 100%;
        padding: 1rem 5px;
        border: 0;
        background-color: white;
        transition: all .3s ease;
        &:focus{
            outline: 1px dotted #5356f830;
        }
        @media screen and (min-width: 768px){
            &:hover{
                background-color: #9dbac430;
            }
        }

        // Expanded
        &[aria-expanded="true"]{
            background-color: #9dbac430;
            .faq-section__item-question--icon{
                svg{
                    transform: rotate(135deg);
                }
            }
        }
        &--icon{
            text-align:center;
            svg{
                transform: rotate(0deg);
                transition: all .5s ease;
            }
        }
        &--copy{
            text-align:left;
            margin-bottom: 0;
            margin-left:5px;
        }
    }

    &__item-answer{
        padding: 1rem 0;
        margin-inline-start: 10px;
        display: none;
    }
}