.faq-section{
    &__headline{
        margin-top: 10px;
    }
    &__item-question{
        display: grid;
        grid-template-columns: 1fr 30px;
        grid-template-rows: 1fr;
        width: 100%;
        padding: 1rem 5px;
        border: 0;
        background-color: white;
        border-bottom: 1px solid #00000030;
            &--icon{
                text-align:center
            }
            &--copy{
                text-align:left;
                margin-bottom: 0;
                margin-left:5px;
            }
    }

    &__item-answer{
        padding: 1rem 0;
        & + .faq-section__headline {
            margin-top:2rem;
        }

        & + .faq-section__item {
            margin-top:1rem;
        }
    }
}