.faq-section{
    &__headline{
        margin-top: 10px;
        margin-bottom: 5px;
    }
    &__item-wrapper{
        border-bottom: 1px solid #00000030;

        & + .faq-section__headline {
            margin-top:2rem;
        }

        & + .faq-section__item-wrapper {
            margin-top:1rem;
        }
    }
    &__item-question{
        display: grid;
        grid-template-columns: 1fr 30px;
        grid-template-rows: 1fr;
        width: 100%;
        padding: 1rem 5px;
        border: 0;
        background-color: white;
        &:focus{
            outline: 1px dotted #5356f830;
        }

        &[aria-expanded="true"]{
            .faq-section__item-question--icon{
                svg{
                    transform: rotate(135deg);
                }
            }
        }
            &--icon{
                text-align:center;
                svg{
                    transform: rotate(0deg);
                    transition: all .5s ease;
                }
            }
            &--copy{
                text-align:left;
                margin-bottom: 0;
                margin-left:5px;
            }
    }

    &__item-answer{
        padding: 1rem 0;
        display: none;
    }
}